 .block1 {
     width: 230px;
     height:600px;
     overflow: auto;
     background: rgba(239,228,176,0.5);
     color:#000080;
     padding: 15px;
     padding-right: 15 px;
     border: solid 1px black;
     float: left;
     position:relative;
    top:0px;
    left:0px;
     z-index:1000;
     cursor:default;
     border-radius: 5px;
     box-shadow: inset rgba(0,0,0,.6) 0 -1px 1px, inset rgba(252,255,255,.7) 0 1px 1px, rgba(0,0,0,.8) 0 1px 1px -1px;
}
 .Weathclass {
     height:30px;
     border-color:#50F078 #9bb838 #9bb838 #50F078;
     border-style:solid;
    border-width:1px;
    background:#50F078;
     position:relative;
    top:-80px;
    left:885px;
    cursor:pointer;
     box-shadow: inset rgba(0,0,0,.6) 0 -1px 3px, inset rgba(252,255,255,.7) 0 3px 3px, rgba(0,0,0,.8) 0 3px 3px -1px;
     border-radius: 15px;
}
 .Weathclass_r {
     height:30px;
     border-color:#50F078 #9bb838 #9bb838 #50F078;
     border-style:solid;
    border-width:1px;
    background:#50F078;
     position:relative;
    top:25px;
    left:885px;
    cursor:pointer;
     box-shadow: inset rgba(0,0,0,.6) 0 -1px 3px, inset rgba(252,255,255,.7) 0 3px 3px, rgba(0,0,0,.8) 0 3px 3px -1px;
     border-radius: 15px;
}
 .Weathclass:hover {
     border-color:#FFCC66 #FFFF99 #FFFF99 #FFCC66;
     border-style:solid;
    border-width:1px;
    background:#FFFF99;
     box-shadow: inset rgba(0,0,0,.6) 0 -1px 3px, inset rgba(252,255,255,.7) 0 3px 3px, rgba(0,0,0,.8) 0 3px 3px -1px;
     border-radius: 15px;
}
 .Weathclass:focus {
     background:#ddd;
    border-color:#ddd #333 #333 #ddd;
    border-style:solid;
    border-width:1px;
     box-shadow: inset rgba(0,0,0,.6) 0 -1px 3px, inset rgba(252,255,255,.7) 0 3px 3px, rgba(0,0,0,.8) 0 3px 3px -1px;
     border-radius: 15px;
}
 .Weathclass:active {
    background:#ff0000;
     border-color:#ddd #333 #333 #ddd;
    border-style:solid;
    border-width:1px;
     box-shadow: inset rgba(0,0,0,.6) 0 -1px 3px, inset rgba(252,255,255,.7) 0 3px 3px, rgba(0,0,0,.8) 0 3px 3px -1px;
     border-radius: 15px;
}
 .NewInterfaceclass {
     height:30px;
     border-color:#50F078 #9bb838 #9bb838 #50F078;
     border-style:solid;
    border-width:1px;
    background:#50F078;
     position:relative;
    top:-130px;
    left:800px;
    cursor:pointer;
     box-shadow: inset rgba(0,0,0,.6) 0 -1px 3px, inset rgba(252,255,255,.7) 0 3px 3px, rgba(0,0,0,.8) 0 3px 3px -1px;
     border-radius: 15px;
}
 .NewInterfaceclass_r {
     height:30px;
     border-color:#50F078 #9bb838 #9bb838 #50F078;
     border-style:solid;
    border-width:1px;
    background:#50F078;
     position:relative;
    top:-30px;
    left:800px;
    cursor:pointer;
     box-shadow: inset rgba(0,0,0,.6) 0 -1px 3px, inset rgba(252,255,255,.7) 0 3px 3px, rgba(0,0,0,.8) 0 3px 3px -1px;
     border-radius: 15px;
}
 .NewInterfaceclass:hover {
     border-color:#FFCC66 #FFFF99 #FFFF99 #FFCC66;
     border-style:solid;
    border-width:1px;
    background:#FFFF99;
     box-shadow: inset rgba(0,0,0,.6) 0 -1px 3px, inset rgba(252,255,255,.7) 0 3px 3px, rgba(0,0,0,.8) 0 3px 3px -1px;
     border-radius: 15px;
}
 .NewInterfaceclass:focus {
     background:#ddd;
    border-color:#ddd #333 #333 #ddd;
    border-style:solid;
    border-width:1px;
     box-shadow: inset rgba(0,0,0,.6) 0 -1px 3px, inset rgba(252,255,255,.7) 0 3px 3px, rgba(0,0,0,.8) 0 3px 3px -1px;
     border-radius: 15px;
}
 .NewInterfaceclass:active {
    background:#ff0000;
     border-color:#ddd #333 #333 #ddd;
    border-style:solid;
    border-width:1px;
     box-shadow: inset rgba(0,0,0,.6) 0 -1px 3px, inset rgba(252,255,255,.7) 0 3px 3px, rgba(0,0,0,.8) 0 3px 3px -1px;
     border-radius: 15px;
}
 .SearchHclass {
     height:15px;
     border-color:#50F078 #9bb838 #9bb838 #50F078;
     border-style:solid;
    border-width:1px;
    background:#50F078;
     position:relative;
    cursor:pointer;
     box-shadow: inset rgba(0,0,0,.6) 0 -1px 3px, inset rgba(252,255,255,.7) 0 3px 3px, rgba(0,0,0,.8) 0 3px 3px -1px;
     border-radius: 15px;
}
 .SearchHclass:hover {
     border-color:#FFCC66 #FFFF99 #FFFF99 #FFCC66;
     border-style:solid;
    border-width:1px;
    background:#FFFF99;
     box-shadow: inset rgba(0,0,0,.6) 0 -3px 3px, inset rgba(252,255,255,.7) 0 3px 3px, rgba(0,0,0,.8) 0 3px 3px -3px;
     border-radius: 15px;
}
 .SearchHclass:focus {
     background:#ddd;
    border-color:#ddd #333 #333 #ddd;
    border-style:solid;
    border-width:1px;
     box-shadow: inset rgba(0,0,0,.6) 0 -1px 3px, inset rgba(252,255,255,.7) 0 3px 3px, rgba(0,0,0,.8) 0 3px 3px -1px;
     border-radius: 15px;
}
 .SearchHclass:active {
    background:#ff0000;
     border-color:#ddd #333 #333 #ddd;
    border-style:solid;
    border-width:1px;
     box-shadow: inset rgba(0,0,0,.6) 0 -1px 3px, inset rgba(252,255,255,.7) 0 3px 3px, rgba(0,0,0,.8) 0 3px 3px -1px;
     border-radius: 15px;
}
 .Searchclass {
     height:20px;
     border-color:#50F078 #9bb838 #9bb838 #50F078;
     border-style:solid;
    border-width:1px;
    background:#50F078;
     position:relative;
    cursor:pointer;
     box-shadow: inset rgba(0,0,0,.6) 0 -1px 3px, inset rgba(252,255,255,.7) 0 3px 8px, rgba(0,0,0,.8) 0 3px 3px -1px;
     border-radius: 15px;
}
 .Searchclass:hover {
     border-color:#FFCC66 #FFFF99 #FFFF99 #FFCC66;
     border-style:solid;
    border-width:1px;
    background:#FFFF99;
     box-shadow: inset rgba(0,0,0,.6) 0 -3px 3px, inset rgba(252,255,255,.7) 0 3px 3px, rgba(0,0,0,.8) 0 3px 3px -3px;
     border-radius: 15px;
}
 .Searchclass:focus {
     background:#ddd;
    border-color:#ddd #333 #333 #ddd;
    border-style:solid;
    border-width:1px;
     box-shadow: inset rgba(0,0,0,.6) 0 -1px 3px, inset rgba(252,255,255,.7) 0 3px 3px, rgba(0,0,0,.8) 0 3px 3px -1px;
     border-radius: 15px;
}
 .Searchclass:active {
    background:#ff0000;
     border-color:#ddd #333 #333 #ddd;
    border-style:solid;
    border-width:1px;
     box-shadow: inset rgba(0,0,0,.6) 0 -1px 3px, inset rgba(252,255,255,.7) 0 3px 3px, rgba(0,0,0,.8) 0 3px 3px -1px;
     border-radius: 15px;
}
 .DonPclass {
     height:30px;
     width:40px;
     position:relative;
    top:100px;
    left:1290px;
    cursor:pointer;
}
 .Donclass {
     height:30px;
     border-color:#50F078 #9bb838 #9bb838 #50F078;
     border-style:solid;
    border-width:1px;
    background:#50F078;
     position:relative;
    top:-110px;
    left:690px;
    cursor:pointer;
}
 .Donclass:hover {
     border-color:#FFCC66 #FFFF99 #FFFF99 #FFCC66;
     border-style:solid;
    border-width:1px;
    background:#FFFF99;
}
 .Donclass:focus {
     background:#ddd;
    border-color:#ddd #333 #333 #ddd;
    border-style:solid;
    border-width:1px;
}
 .Donclass:active {
    background:#ff0000;
     border-color:#ddd #333 #333 #ddd;
    border-style:solid;
    border-width:1px;
}
 .dragSwitcher {
     width: 10px;
    height:10px;
     background:#ffffff;
     padding:5px;
     padding-right:15px;
     border:solid 1px black;
     float:left;
    cursor:move;
    position:absolute;
     top:174px;
     left:-4px;
    z-index:1200;
}
 .headerOpenWebGIS {
     position: absolute;
     top: 90px;
     left: 3px;
     height:60px;
}
 .block2 {
     width: 1000px;
     height: 600px;
     background: #efe4b0;
     padding: 5px;
     border: solid 1px black;
     float: left;
     position: relative;
     top: 0px;
     left: 0px;
}
 .struc {
    float: left;
     position: relative;
     top: -5px;
     left: -5px;
}
 .menu {
     background:#50f078;
     width:1600px;
    height:25px;
    /*margin-left:230px;
    */
    cursor:default;
     position:relative;
    top:0px;
    left:-4px;
     font: 1em Arial, sans-serif;
     text-shadow: #0000ff 0 0 2px;
    border-radius: 15px;
     box-shadow: inset rgba(0,0,0,.6) 0 -3px 8px, inset rgba(252,255,255,.7) 0 3px 8px, rgba(0,0,0,.8) 0 3px 8px -3px;
}
 .dragMenu {
     background:#082567;
     width:10px;
     height:10px;
    /*margin-left:250px;
    */
     padding: 5px;
     padding-right: 15 px;
     border: solid 2px black;
     position:absolute;
     left:300px;
     top:150px;
     float: left;
     z-index:4000;
     cursor:move;
}
 .block_menu {
     width:1600px;
    height:25px;
    left:5px;
    cursor:default;
     position:relative;
}
 .punkt {
    float:left;
     padding: 1px 1px 0px 1px;
    /*background:transparent;
     */
     position:relative;
     cursor:pointer;
}
 .punkt div {
    padding:2px 7px 2px 7px;
}
 div.list_punkts {
    background:#ECE5B1;
    z-index:4001;
    color:#0000ff;
     position:absolute;
     top:26px;
     left:0px;
    border-radius: 3px;
     box-shadow: inset rgba(0,0,0,.6) 0 -2px 3px, inset rgba(252,255,255,.7) 0 2px 3px, rgba(0,0,0,.8) 0 2px 3px -2px;
     display:none;
     padding:0px;
     width:200px;
     border:solid 1px #000;
     font: 0.9em Arial, sans-serif;
     text-shadow: none;
}
 div.list_punkts div.kont {
    padding:0px;
    margin:3px;
    /*background:#80FF00;
    */
}
 div.list_punkts a {
    text-decoration:none;
     padding:0px;
     cursor:pointer;
     color:#0000ff;
}
 div.list_punkts div a div.podpunkt {
    /*background:#FF8000;
    */
     width:100%;
     padding:0px;
     margin-top:2px;
}
 div.list_punkts div a div.podpunkt div {
     width:100%;
    padding:0px 0px 0px 2px;
     white-space:pre;
}
 div.list_punkts div a:hover {
     background:#badbba;
}
 div.list_punkts div a:hover div.podpunkt {
     background:#badbba;
     color:#fff;
    border-radius: 5px;
     box-shadow: inset rgba(0,0,0,.6) 0 -1px 1px, inset rgba(252,255,255,.7) 0 1px 1px, rgba(0,0,0,.8) 0 1px 1px -1px;
}
 .footer_menu {
     clear:both;
}
/* Toolbar styles */
 .toolbar {
     position: absolute;
     left:300px;
     top:145px;
     padding-bottom: 0.5em;
     display: none;
     z-index:5000;
     background: #339933;
     height:50px;
}
 #toolbar ul {
     list-style: none;
     padding: 0;
     margin: 0;
}
 #toolbar ul li {
     float: left;
     padding-right: 1em;
     padding-bottom: 0.5em;
}
 #toolbar ul li a {
     font-weight: bold;
     font-size: smaller;
     vertical-align: middle;
     color: black;
     text-decoration: none;
}
 #toolbar ul li a:hover {
     text-decoration: underline;
}
 #toolbar ul li * {
     vertical-align: middle;
}
 #wrapper {
     width: 938px;
    position:absolute;
     left: 300px;
     top: 200px;
}
 #legend {
     position: absolute;
     top: 0px;
     left: 550px;
     height: 256px;
     width: 150px;
}
 #location {
     position: relative;
     left: -17px;
     top: 17px;
     float: left;
}
 #options {
     position: absolute;
     left: 40px;
     top: 7px;
     z-index: 3000;
}
 table.featureInfo, table.featureInfo td, table.featureInfo th {
     border: 1px solid #ddd;
     border-collapse: collapse;
     margin: 0;
     padding: 0;
     font-size: 90%;
     padding: .2em .1em;
     color:#082567;
}
 table.featureInfo th {
     padding: .2em .2em;
     text-transform: uppercase;
     font-weight: bold;
     background: #eee;
}
 table.featureInfo td {
     background: #fff;
}
 table.featureInfo tr.odd td {
     background: #eee;
}
 table.featureInfo caption {
     text-align: left;
     font-size: 100%;
     font-weight: bold;
     text-transform: uppercase;
     padding: .2em .2em;
}
 .customEditingToolbar {
     float: right;
     right: 0px;
     height: 30px;
}
 .customEditingToolbar div {
     float: right;
     margin: 5px;
     width: 24px;
     height: 24px;
}
 .olControlNavigationItemActive {
     background-image: url("openlayers/theme/default/img/editing_tool_bar.png");
     background-repeat: no-repeat;
     background-position: -103px -23px;
}
 .olControlNavigationItemInactive {
     background-image: url("openlayers/theme/default/img/editing_tool_bar.png");
     background-repeat: no-repeat;
     background-position: -103px -0px;
}
 .olControlDrawFeaturePolygonItemInactive {
     background-image: url("openlayers/theme/default/img/editing_tool_bar.png");
     background-repeat: no-repeat;
     background-position: -26px 0px;
}
 .olControlDrawFeaturePolygonItemActive {
     background-image: url("openlayers/theme/default/img/editing_tool_bar.png");
     background-repeat: no-repeat;
     background-position: -26px -23px ;
}
 .olControlModifyFeatureItemActive {
     background-image: url("openlayers/theme/default/img/move_feature_on.png");
     background-repeat: no-repeat;
     background-position: 0px 1px;
}
 .olControlModifyFeatureItemInactive {
     background-image: url("openlayers/theme/default/img/move_feature_off.png");
     background-repeat: no-repeat;
     background-position: 0px 1px;
}
 .olControlDeleteFeatureItemActive {
     background-image: url("openlayers/theme/default/img/remove_point_on.png");
     background-repeat: no-repeat;
     background-position: 0px 1px;
}
 .olControlDeleteFeatureItemInactive {
     background-image: url("openlayers/theme/default/img/remove_point_off.png");
     background-repeat: no-repeat;
     background-position: 0px 1px;
}
 .olControlDrawFeaturePointItemInactive {
     background-image: url("openlayers/theme/default/img/add_point_off.png");
     background-repeat: no-repeat;
     background-position: 0px 1px;
}
 .olControlDrawFeaturePointItemActive {
     background-image: url("openlayers/theme/default/img/add_point_on.png");
     background-repeat: no-repeat;
     background-position: 0px -1px;
}
 .olControlDrawFeaturePathItemActive {
     background-image: url("openlayers/theme/default/img/draw_line_on.png");
     background-repeat: no-repeat;
     background-position: 0px -1px;
}
 .olControlDrawFeaturePathItemInactive{
     background-image: url("openlayers/theme/default/img/draw_line_off.png");
     background-repeat: no-repeat;
     background-position: 0px -1px;
}
 .olControlDrawFeaturePolygon2ItemInactive {
     background-image: url("openlayers/theme/default/img/drag_off.png");
     background-repeat: no-repeat;
     background-position: 0px -1px;
}
 .olControlDrawFeaturePolygon2ItemActive {
     background-image: url("openlayers/theme/default/img/drag_on.png");
     background-repeat: no-repeat;
     background-position: 0px -1px ;
}
 .olControlDrawFeaturePolygon3ItemInactive {
     background-image: url("openlayers/theme/default/img/sel_off.png");
     background-repeat: no-repeat;
     background-position: 0px -1px;
}
 .olControlDrawFeaturePolygon3ItemActive {
     background-image: url("openlayers/theme/default/img/sel_on.png");
     background-repeat: no-repeat;
     background-position: 0px -1px ;
}
 .olControlDrawFeaturePolygonItemInactive {
     background-image: url("openlayers/theme/default/img/draw_polygon_off.png");
     background-repeat: no-repeat;
     background-position: 0px -1px;
}
 .olControlDrawFeaturePolygonItemActive {
     background-image: url("openlayers/theme/default/img/draw_polygon_on.png");
     background-repeat: no-repeat;
     background-position: 0px -1px ;
}
 .olControlDrawFeatureCoordItemInactive {
     background-image: url("openlayers/theme/default/img/coord_off.png");
     background-repeat: no-repeat;
     background-position: 0px -1px;
}
 .olControlDrawFeatureCoordItemActive {
     background-image: url("openlayers/theme/default/img/coord_on.png");
     background-repeat: no-repeat;
     background-position: 0px -1px ;
}
 #paletteC div {
     width:1px;
     height:20px;
     float:left;
}

